In [23]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

import sympy as sym
from sklearn.linear_model import LinearRegression

from tabulate import tabulate

import warnings
def warn(*args, **kwargs):
    pass
warnings.warn = warn

In [2]:
df = pd.read_csv(r"C:\Jupyter Projects\Machine Learning\ML Lab\Week 3\Exercises\studyHours.csv")
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [3]:
X = df.Hours
y = df.Scores

In [6]:
m, c = sym.symbols('m c')

In [22]:
def gradient_descent(X, y, learning_rate=.01, threshold=.80, iterations=1000):
    m = 0
    c = 0

    n = len(X)
    history = []
    for i in range(iterations):
        y_pred = m * X + c

        error = y - y_pred

        m_gradient = -2/n * np.sum((error * X))
        c_gradient = -2/n * np.sum(error)

        m -= learning_rate * m_gradient
        c -= learning_rate * c_gradient

        ssr = np.sum((y_pred - np.mean(y)) ** 2)
        sst = np.sum((y - np.mean(y)) ** 2)
        r2_score = 1 - (np.sum((y - y_pred) ** 2) / sst)

        history.append((m, c, r2_score))

        if r2_score > threshold:
            break
        print(f"Iteration: {i}")
        print(f"R2 score: {r2_score}")

    return m, c, history


m, c, history = gradient_descent(X, y)

print(f"\nFinal R2 score: {history[-1][2]}")
print(f"Final m: {m}")
print(f"Final c: {c}")

Iteration: 0
R2 score: -4.317328544320954
Iteration: 1
R2 score: 0.2735112798953734

Final R2 score: 0.8651706588707242
Final m: 9.457774003437958
Final c: 1.5369743620442111

In [41]:
print(tabulate(history, headers=['m_value','c_value','R2_Score'], tablefmt='grid'))

+-----------+-----------+------------+
|   m_value |   c_value |   R2_Score |
+===========+===========+============+
|   6.35712 |   1.0296  |  -4.31733  |
+-----------+-----------+------------+
|   8.63895 |   1.40137 |   0.273511 |
+-----------+-----------+------------+
|   9.45777 |   1.53697 |   0.865171 |
+-----------+-----------+------------+