# Question 7

### The marks obtained by 10 students in a class test were as follows: 38, 41, 36, 31, 45, 38, 27, 32, 29, 39.

Find:

* The mean of their marks
* The mean of their marks when the marks of each student are increased by 2
* The mean of their marks when one mark is deducted from marks of each student
* The mean of their marks when the marks of each student halved

In [7]:
import numpy as np

### Getting the data

In [3]:
print("Enter data elements: ")
data = []
for i in range(10):
    num = int(input())
    data.append(num)
data

Enter data elements:

 38
 41
 36
 31
 45
 38
 27
 32
 29
 39

[38, 41, 36, 31, 45, 38, 27, 32, 29, 39]

### 1) Mean of the data

In [5]:
summation = 0
for i in range(0,len(data)):
    summation += data[i]
mean = summation/len(data)
print(f"Mean of the data: {mean}")

Mean of the data: 35.6

### 2) Mean of data, increased by 2

In [16]:
_2marks = [x+2 for x in data]
summation = 0
print(f"Old data: {data}")
print(f"New data: {_2marks}")
for i in range(0,len(_2marks)):
    summation += _2marks[i]
mean = summation/len(_2marks)
print(f"Mean of the data: {mean}")

Old data: [38, 41, 36, 31, 45, 38, 27, 32, 29, 39]
New data: [40, 43, 38, 33, 47, 40, 29, 34, 31, 41]
Mean of the data: 37.6

### 3) Mean of data, decreased by 1

In [18]:
_1marks = [x-1 for x in data]
summation = 0
print(f"Old data: {data}")
print(f"New data: {_1marks}")
for i in range(0,len(_1marks)):
    summation += _1marks[i]
mean = summation/len(_1marks)
print(f"Mean of the data: {mean}")

Old data: [38, 41, 36, 31, 45, 38, 27, 32, 29, 39]
New data: [37, 40, 35, 30, 44, 37, 26, 31, 28, 38]
Mean of the data: 34.6

### 4) Mean of data, halved

In [19]:
_halvedmarks = [x/2 for x in data]
summation = 0
print(f"Old data: {data}")
print(f"New data: {_halvedmarks}")
for i in range(0,len(_halvedmarks)):
    summation += _halvedmarks[i]
mean = summation/len(_halvedmarks)
print(f"Mean of the data: {mean}")

Old data: [38, 41, 36, 31, 45, 38, 27, 32, 29, 39]
New data: [19.0, 20.5, 18.0, 15.5, 22.5, 19.0, 13.5, 16.0, 14.5, 19.5]
Mean of the data: 17.8